*{
padding: 0;
margin: 0;
scroll-behavior: smooth;
overflow-x: hidden;
}
body{
    background-image: url("../img/wallpaper.jpg");
}
a{
    text-decoration: none !important;
    color: white !important;
}
ul{
    list-style-type: none !important;
}
header{
    z-index: 3;
}
.dp-background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 43.62%, rgba(255, 255, 255, 0) 98.8%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp-catalog{
    display: flex;
    justify-content: space-around;
}
.dp-item{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.carousel-control-next, .carousel-control-prev {
    color: #000;
}
.dp-bg-opacity{
    background-color: rgba(0, 0, 0, 0.8);
}
.dp-bg-none{
    background: none !important;
}
.dp-sibanje{
    background: url('../img/bitka.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dp-selection{
    width: 30%;
}
.dp-selection img{
    width: 200px;
    height: 300px;
}
.dp-selection:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.dp-slika-izlog img{
    width: 200px;
    height: 300px;
}
.dp-font{
    font-size: 50px;
}
footer .container .row .col-12 p a, footer .col-12 p a{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
}

@media screen and (max-width: 1030px){
    .dp-item h5{
        font-size: 12px;
    }
    .dp-item p{
        font-size: 10px;
    }
    .dp-font{
        font-size: 30px;
    }
}

@media screen and (max-width: 770px){
    .dp-banner img, .dp-bg-opacity .container .row .col-12 img{
        width: 300px;
    }
    .dp-banner h1{
        font-size: 20px;
    }
    .dp-banner p{
        font-size: 14px;
    }
    .dp-bg-opacity .row .col-12 h2{
        font-size: 14px;
    }
    .dp-bg-opacity .row .col-12 p{
        font-size: 12px;
    }
    footer .dp-bg-opacity h4{
        font-size: 14px;
    }
    footer .dp-bg-opacity ul li{
        font-size: 12px;
    }
    footer .col-12 p{
        font-size: 12px;
    }
    .dp-font{
        font-size: 20px;
    }
}

@media screen and (max-width: 425px){
    .dp-slika-izlog img, .dp-selection img{
        height: 400px;
    }
    .col-sm-6 form, .dp-selection{
        margin-bottom: 50px;
    }
    .dp-lowrez-padding{
        padding-left: 0px !important;
    }
    .dp-font{
        font-size: 12px;
    }
    footer h4, footer ul{
        text-align: center !important;
    }
}